$theme-colors: (
  'primary': #ffe000,
  'secondary': #799f0c,
);
$color-primary: #ffe000;
$color-secondary: #799f0c;
$color-white: aliceblue;
$color-grey: #eceef0;
$color-black: #212832;
$spacers: (
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
  spacing: 8.5rem,
);
